<header class="mv-header">
  <nav class="mv-nav">
    <a class="mv-logo" href="index.html"><img src="assets/images/yycexpertlogo.png" alt="Lawncare Logo" style="height:60px;width:auto;display:block;" /></a>
    <ul class="mv-nav-links" id="mvNavLinks">
      <li><a href="index.html">Home</a></li>
      <li class="dropdown">
        <a href="index.html#services">Services</a>
        <ul class="mv-dropdown-menu">
          <li><a href="lawn-care.html">Lawn Care</a></li>
          <li><a href="packing-moving.html">Packing &amp; Moving</a></li>
          <li class="subdropdown">
            <a href="fence-building.html">Fence Building</a>
            <ul class="mv-subdropdown-menu">
              <li><a href="wooden-fence.html">Wooden Fence</a></li>
              <li><a href="chain-link-fence.html">Chain Link Fence</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="index.html#how-it-works">How We Work</a></li>
      <li><a href="index.html#faq">FAQ</a></li>
      <li><a href="index.html#contact">Contact</a></li>
    </ul>
    <a class="mv-nav-phone" href="tel:18257366306"><span style="color:#ffffff;margin-right:5px;font-size:1rem;">☎</span>+1(825)736-6306</a>
    <button class="mv-mobile-toggle" id="mvToggle" aria-label="Toggle menu">
      <span></span><span></span><span></span>
    </button>
  </nav>
</header>
